@charset "UTF-8";


@font-face {
        font-family:"love" ;
        src: url(fontes/LOVELY.otf);
        
      }


* {

    padding: 0px;
    margin: 0px;



}

:root {

    --cor01: #FF8FAB;
    --cor02: #C9184A;
    
}

header {
    padding: 10px;
    padding: 12px;
    text-align: center;
    background-image: linear-gradient(7deg, var(--cor01), var(--cor02));
    margin-bottom: 38px;

}


header h1 {
    font-family: "love";
    font-size: 74px;
    color: white;
    
}

nav {

    padding: 10px;
    background-color: var(--cor01);
}