@charset "UTF-8";


@font-face {
        font-family:"love" ;
        src: url(fontes/LOVELY.otf);
        
      }

    


* {

    padding: 0px;
    margin: 0px;



}

:root {

    --cor01: #FF8FAB;
    --cor02: #C9184A;
    --font-p: "Lato";
    
}

header {
    padding: 10px;
    padding: 12px;
    text-align: center;
    background-image: linear-gradient(7deg, var(--cor01), var(--cor02));
    

}


header h1 {
    font-family: "Fredoka";
    font-size: 74px;
    color: white;
    
}

header p {
    font-size: 10.4px;
    color: white;
    font-family: var(--font-p);
    
}

nav {

    padding: 17px;
    background-color: var(--cor01);
    margin-bottom: 21px

}

h1 {

    font-family: "Fredoka";
}

p {
    font-family: var(--font-p);
    line-height:24px;
    font-weight: 300;


}


nav a {
    padding: 9px;
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: var(--font-p);
    color: var(--cor01);
    font-weight: 700;
    


}