@charset "UTF-8";


@font-face {
        font-family: ;
        src: url(/fontes/LOVELY.otf);
        
      }


* {

    padding: 0px;
    margin: 0px;



}

header {
    padding: 10px;
    padding: 12px;
    text-align: center;
    margin: 16px 10px 40px 10px;
}

nav {

    padding: 10px;
    background-color: #CD130A
}